@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

body {
    margin: 0px;
    padding: 0px;
    background-color: black;
    .series-content-wrapper {
        font-family: "Open Sans", sans-serif;
        background-image: url("https://cdn.forbes.com.mx/2019/02/brk.jpg");
        min-width: 100%;
        max-height: 843px;
        background-repeat: no-repeat;
        background-size: cover;
        background-blend-mode: multiply;
        background-position: right;
        background-color: rgba(0, 0, 0, 0.274);

        .header {
            .nav {
                display: flex;
                background-color: rgba(0, 0, 0, 0.801218);
                align-items: center;
                position: fixed;
                width: 100vw;
                padding: 13px;
                padding-left: 70px;
                .menu-icon {
                    display: hidden;
                }
                .logo {
                    background-image: url("../images/Logo.png");
                    min-width: 148.69px;
                    min-height: 40px;
                    background-position: center;
                    background-size: cover;
                }
                .links-wrapper {
                    font-family: "Open Sans", sans-serif;
                    font-size: 0.9rem;
                    max-width: 100%;

                    .link {
                        text-decoration: none;
                        color: #ffffff;
                        margin-left: 20px;
                        font-weight: bold;
                    }
                }
            }
        }
        .middle-content {
            .middle-content-wrapper {
                color: white;
                text-shadow: 0px 0px 0px rgba(0, 0, 0, 1);
                max-width: 530px;
                padding-left: 70px;

                .title-info {
                    display: none;
                }
                .title-wrapper {
                    display: flex;
                    flex-direction: column;
                    font-size: 0.8rem;
                    font-weight: bold;
                    margin-bottom: 10px;
                    justify-content: flex-start;
                    .logo-container {
                        .serie-logo {
                            background-image: url("../images/logo-breaking-bad.png");
                            background-repeat: no-repeat;
                            background-size: cover;
                            width: 300px;
                            height: 250px;
                            margin-top: 50px;
                        }
                    }
                    .info-container {
                        display: flex;
                        align-items: center;

                        .title {
                            display: none;
                        }
                        .info {
                            &:nth-child(3) {
                                margin-left: 15px;
                            }
                            &:nth-child(4) {
                                margin-left: 15px;
                            }
                            &:nth-child(5) {
                                margin-left: 15px;
                            }
                        }
                        .coincidence {
                            color: #009c04;
                        }

                        .age-restriction {
                            border: 1px solid #979797;
                            border-radius: 8px;
                            padding: 5px 10px;
                        }
                        .title-info {
                            display: none;
                        }
                    }
                }
                .links-container {
                    display: flex;
                    align-items: center;
                    .button {
                        text-decoration: none;
                        color: white;
                        background: rgba(157, 151, 151, 0.541521);
                        border-radius: 9px;
                        padding: 14px 40px;
                        font-size: 0.8rem;

                        &:first-child {
                            background-color: #ed0a1d;
                        }

                        &:nth-child(2) {
                            margin-left: 10px;

                            &:hover {
                                transition: 1s;
                                background-color: rgba(112, 110, 110, 0.692);
                            }
                        }
                    }
                    .like-links {
                        display: flex;
                        align-items: center;
                        position: relative;
                        .circle {
                            background-image: url("../images/Oval.png");
                            width: 50px;
                            height: 50px;
                            background-repeat: no-repeat;
                            background-size: cover;
                            background-position: center;
                            margin-right: 5px;
                            margin-left: 10px;
                        }
                        .hand-like {
                            background-image: url("../images/hand-up.png");
                            width: 30px;
                            height: 30px;
                            background-repeat: no-repeat;
                            background-size: cover;
                            background-position: center;
                            position: absolute;
                            right: 50%;
                            transform: translate(-50%);
                            cursor: pointer;
                        }
                        .hand-dislike {
                            background-image: url("../images/hand-down.png");
                            width: 30px;
                            height: 30px;
                            background-repeat: no-repeat;
                            background-size: cover;
                            background-position: center;
                            position: absolute;
                            left: 88%;
                            transform: translate(-100%);
                            cursor: pointer;
                        }
                    }
                }
                .description-wrapper {
                    margin-top: 10px;

                    .description {
                        font-weight: lighter;
                        font-size: 0.9rem;
                    }
                }
            }
        }
    }

    .wrap-content {
        max-width: 100%;
        margin: 0px 70px;
        margin-top: 50px;

        .chapters-container {
            .season {
                text-decoration: none;
                color: white;
            }
            .series-links {
                overflow-x: auto;
                min-width: 100%;
                text-decoration: none;
                display: flex;
                cursor: pointer;
                &::-webkit-scrollbar {
                    width: 5px;
                    height: 8px;
                }
                &::-webkit-scrollbar-thumb {
                    background: rgba(128, 128, 128, 0.171);
                }

                &::-webkit-scrollbar-track {
                    background: rgb(0, 0, 0);
                }
                .serie-content {
                    display: flex;
                    margin-right: 16px;

                    flex-direction: column;
                    color: white;
                    .serie-img {
                        margin-top: 5px;
                        text-decoration: none;
                        font-size: 0.9rem;
                        background-image: url("../images/chapter-1-BB.jpg");
                        background-position: center;
                        background-size: cover;
                        background-repeat: no-repeat;
                        width: 341px;
                        height: 192px;
                    }
                    .chapter-title {
                        font-size: 0.9rem;
                        line-height: 10px;
                    }
                    .chapter-description {
                        font-size: 0.7rem;
                        margin-top: 0px;
                        width: 80%;
                    }

                    .chapter-2{
                        margin-top: 5px;
                        text-decoration: none;
                        font-size: 0.9rem;
                        background-image: url("../images/chapter-2-BB.jpg");
                        background-position: center;
                        background-size: cover;
                        background-repeat: no-repeat;
                        width: 341px;
                        height: 192px;
                    }

                    .chapter-3{
                        margin-top: 5px;
                        text-decoration: none;
                        font-size: 0.9rem;
                        background-image: url("../images/chapter-3-BB.jpg");
                        background-position: center;
                        background-size: cover;
                        background-repeat: no-repeat;
                        width: 341px;
                        height: 192px;
                    }

                    .chapter-4{
                        margin-top: 5px;
                        text-decoration: none;
                        font-size: 0.9rem;
                        background-image: url("../images/chapter-4-BB.jpg");
                        background-position: center;
                        background-size: cover;
                        background-repeat: no-repeat;
                        width: 341px;
                        height: 192px;
                    }
                    
                }
            }
        }

        .series-wrapper {
            display: flex;
            margin-top: 30px;

            flex-direction: column;
            .wrap-title {
                text-decoration: none;
                color: white;
                margin-top: 15px;
                margin: 5px;
            }
            .movies-links {
                display: flex;
                overflow-x: auto;
                min-width: 100%;
                text-decoration: none;

                &::-webkit-scrollbar {
                    width: 5px;
                    height: 8px;
                }
                &::-webkit-scrollbar-thumb {
                    background: rgba(128, 128, 128, 0.171);
                }

                &::-webkit-scrollbar-track {
                    background: rgb(0, 0, 0);
                }
                .movies {
                    background-image: url("../images/series/series-1.png");
                    background-position: center;
                    background-size: cover;
                    background-repeat: no-repeat;
                    min-width: 341px;
                    min-height: 192px;
                    margin-right: 16px;

                    &:nth-child(2) {
                        background-image: url("../images/series/series-2.png");
                        background-position: center;
                        background-size: cover;
                        background-repeat: no-repeat;
                    }

                    &:nth-child(3) {
                        background-image: url("../images/series/series-3.png");
                        background-position: center;
                        background-size: cover;
                        background-repeat: no-repeat;
                    }

                    &:nth-child(4) {
                        background-image: url("../images/series/series-4.png");
                        background-position: center;
                        background-size: cover;
                        background-repeat: no-repeat;
                    }

                    &:nth-child(5) {
                        background-image: url("../images/series/series-5.png");
                        background-position: center;
                        background-size: cover;
                        background-repeat: no-repeat;
                    }

                    &:nth-child(6) {
                        background-image: url("../images/series/series-6.png");
                        background-position: center;
                        background-size: cover;
                        background-repeat: no-repeat;
                    }

                    &:nth-child(7) {
                        background-image: url("../images/series/series-7.png");
                        background-position: center;
                        background-size: cover;
                        background-repeat: no-repeat;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 500px) {
    body {
        .series-content-wrapper {
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            background-image: url("https://cdn.forbes.com.mx/2019/02/brk.jpg");
            width: 227px;
            height: 344px;
            background-blend-mode: multiply;
            background-color: rgba(0, 0, 0, 0.274);

            .header {
                .nav {
                    align-items: flex-start;
                    padding: 13px;
                    padding-left: 0px;
                    background-color: black;
                    .menu-icon {
                        background-image: url("../images/menu-icon.png");
                        background-repeat: no-repeat;
                        background-position: center;
                        background-size: cover;
                        height: 40px;
                        width: 40px;
                        margin-right: 13px;
                        cursor: pointer;
                    }

                    .links-wrapper {
                        background-color: black;
                        display: flex;
                        flex-direction: column;
                        height: 100%;
                        margin-left: 0px;
                        position: fixed;
                        width: 50%;
                        font-size: 0.8rem;
                        margin-top: 50px;
                        display: none;

                        &.visible {
                            display: flex;
                        }

                        .link {
                            line-height: 25px;
                            margin-left: 5px;
                            margin-bottom: 20px;
                        }
                    }
                }
            }

            .middle-content {
                padding: 0;
                margin: 0;
                .middle-content-wrapper {
                    display: flex;
                    flex-direction: column;
                    padding-left: 13px;

                    .title-info {
                        font-size: 0.6rem;
                        display: flex;
                        margin-bottom: 10px;
                    }
                    .title-wrapper {
                        margin-top: 180px;
                        margin-bottom: 0px;

                        .logo-container {
                            .serie-logo {
                                display: none;
                            }
                        }

                        .info-container {
                            .title {
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                font-size: 1rem;
                            }
                            .year {
                                display: none;
                            }

                            .coincidence {
                                display: none;
                            }

                            .age-restriction {
                                display: none;
                            }

                            .season-number {
                                display: none;
                            }
                        }
                    }
                    .links-container {
                        display: flex;

                        .button {
                            padding: 7px 15px;
                            font-size: 0.7rem;
                            border-radius: 3px;

                            &:first-child {
                                background-color: #ed0a1d;
                            }
                        }
                        .like-links {
                            display: none;
                        }
                    }

                    .description-wrapper {
                        .watch {
                            display: none;
                        }
                        .description {
                            display: none;
                        }
                    }
                }
            }
            .wrap-content {
                margin: 0 13px;
                margin-top: 30px;

                .series-wrapper {
                    .wrap-title {
                        font-size: 0.8rem;
                    }
                }
            }
        }
    }
}
