@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
body{
    margin: 0px;
    padding: 0px;

.content-wrapper {
    
    font-family: "Open Sans", sans-serif;
    background-image: url("../images/Serie-img.png");
    min-width: 100%;
    min-height: 843px;
    background-repeat: no-repeat;
    background-position: right;
    background-size: cover;
    .header {
        .nav {
            display: flex;
            height: 65px;
            background-color: rgba(0, 0, 0, 0.801218);
            align-items: center;
            justify-content: flex-start;
            position: fixed;
            width: 100%;

            .logo {
                background-image: url("../images/Logo.png");
                min-width: 148.69px;
                min-height: 40px;
                background-position: center;
                background-size: cover;
                margin-left: 70px;
            }
            .links-wrapper {
                font-family: "Open Sans", sans-serif;
                font-size: 0.9rem;
                max-width: 100%;
                margin-left: 50px;

                .link {
                    text-decoration: none;
                    color: #ffffff;
                    margin-left: 20px;
                    font-weight: bold;
                }
            }
        }
    }
    .middle-content {
        //ahre que ponia acáaaaa 

        .middle-content-wrapper {
            color: white;
            min-height: 200px;
            max-width: 530px;
            padding-left: 70px;
            padding-top: 150px;



            .courflix-title {
                font-size: 0.9rem;
                font-weight: bold;
            }

            .title-wrapper {
                display: flex;
                flex-direction: column;

                .content-title {
                    font-size: 4.5rem;
                    font-weight: bolder;

                    &:first-child {
                        letter-spacing: 5px;
                    }
                    &:nth-child(2) {
                        margin-top: -40px;
                    }
                }
            }
            .links-container {
                display: flex;
                justify-content: flex-start;
                align-items: flex-start;
                .button {
                    text-decoration: none;
                    color: white;
                    background: rgba(157, 151, 151, 0.541521);
                    border-radius: 9px;
                    padding: 14px 40px;
                    font-size: 0.8rem;

                    &:nth-child(2) {
                        margin-left: 10px;
                    }
                }
            }
            .description-wrapper {
                margin-top: 10px;
                .watch {
                    text-decoration: none;
                    color: white;
                }
                .description {
                    // width: 35%;
                    font-weight: lighter;
                    font-size: 0.9rem;
                }
            }
        }
    }
}
}