@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
body {
  margin: 0px;
  padding: 0px;
  background-color: black;
}

body .content-wrapper {
  font-family: "Open Sans", sans-serif;
  background-image: url("../images/Serie-img.png");
  min-width: 100%;
  max-height: 843px;
  background-repeat: no-repeat;
  background-position: right;
  background-size: cover;
}

body .content-wrapper .header .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: rgba(0, 0, 0, 0.801218);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  width: 100vw;
  padding: 13px;
  padding-left: 70px;
}

body .content-wrapper .header .nav .menu-icon {
  display: hidden;
}

body .content-wrapper .header .nav .logo {
  background-image: url("../images/Logo.png");
  min-width: 148.69px;
  min-height: 40px;
  background-position: center;
  background-size: cover;
}

body .content-wrapper .header .nav .links-wrapper {
  font-family: "Open Sans", sans-serif;
  font-size: 0.9rem;
  max-width: 100%;
  margin-left: 50px;
}

body .content-wrapper .header .nav .links-wrapper .link {
  text-decoration: none;
  color: #ffffff;
  margin-left: 20px;
  font-weight: bold;
}

body .content-wrapper .middle-content .middle-content-wrapper {
  color: white;
  text-shadow: 0px 0px 0px black;
  max-width: 530px;
  padding-left: 70px;
  padding-top: 150px;
}

body .content-wrapper .middle-content .middle-content-wrapper .courflix-title {
  font-size: 0.9rem;
  font-weight: bold;
}

body .content-wrapper .middle-content .middle-content-wrapper .title-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  line-height: 80px;
  margin-bottom: 10px;
}

body .content-wrapper .middle-content .middle-content-wrapper .title-wrapper .content-title {
  font-size: 4.5rem;
  font-weight: bolder;
  letter-spacing: 5px;
}

body .content-wrapper .middle-content .middle-content-wrapper .title-wrapper .title-info {
  display: none;
}

body .content-wrapper .middle-content .middle-content-wrapper .links-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body .content-wrapper .middle-content .middle-content-wrapper .links-container .button {
  text-decoration: none;
  color: white;
  background: rgba(157, 151, 151, 0.541521);
  border-radius: 9px;
  padding: 14px 40px;
  font-size: 0.8rem;
}

body .content-wrapper .middle-content .middle-content-wrapper .links-container .button:nth-child(2) {
  margin-left: 10px;
}

body .content-wrapper .middle-content .middle-content-wrapper .links-container .button:hover {
  -webkit-transition: 1s;
  transition: 1s;
  background-color: rgba(112, 110, 110, 0.692);
}

body .content-wrapper .middle-content .middle-content-wrapper .description-wrapper {
  margin-top: 10px;
}

body .content-wrapper .middle-content .middle-content-wrapper .description-wrapper .watch {
  text-decoration: none;
  color: white;
}

body .content-wrapper .middle-content .middle-content-wrapper .description-wrapper .description {
  font-weight: lighter;
  font-size: 0.9rem;
}

body .wrap-content {
  max-width: 100%;
  margin: 0 70px;
}

body .wrap-content .series-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body .wrap-content .series-wrapper .wrap-title {
  text-decoration: none;
  color: white;
  margin-top: 15px;
  margin: 5px;
}

body .wrap-content .series-wrapper .movies-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow-x: auto;
  min-width: 100%;
  text-decoration: none;
}

body .wrap-content .series-wrapper .movies-links::-webkit-scrollbar {
  width: 5px;
  height: 8px;
}

body .wrap-content .series-wrapper .movies-links::-webkit-scrollbar-thumb {
  background: rgba(128, 128, 128, 0.171);
}

body .wrap-content .series-wrapper .movies-links::-webkit-scrollbar-track {
  background: black;
}

body .wrap-content .series-wrapper .movies-links .movies {
  background-image: url("../images/series/series-1.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-width: 341px;
  min-height: 192px;
  margin-right: 16px;
}

body .wrap-content .series-wrapper .movies-links .movies:nth-child(2) {
  background-image: url("../images/series/series-2.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-width: 341px;
  min-height: 192px;
  margin-right: 16px;
}

body .wrap-content .series-wrapper .movies-links .movies:nth-child(3) {
  background-image: url("../images/breaking-bad-image.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-width: 341px;
  min-height: 192px;
  margin-right: 16px;
}

body .wrap-content .series-wrapper .movies-links .movies:nth-child(4) {
  background-image: url("../images/series/series-4.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-width: 341px;
  min-height: 192px;
  margin-right: 16px;
}

body .wrap-content .series-wrapper .movies-links .movies:nth-child(5) {
  background-image: url("../images/series/series-5.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-width: 341px;
  min-height: 192px;
  margin-right: 16px;
}

body .wrap-content .series-wrapper .movies-links .movies:nth-child(6) {
  background-image: url("../images/series/series-6.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-width: 341px;
  min-height: 192px;
  margin-right: 16px;
}

body .wrap-content .series-wrapper .movies-links .movies:nth-child(7) {
  background-image: url("../images/series/series-7.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-width: 341px;
  min-height: 192px;
  margin-right: 16px;
}

@media only screen and (max-width: 500px) {
  body .content-wrapper {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 227px;
    height: 344px;
    background-blend-mode: multiply;
    background-color: rgba(0, 0, 0, 0.274);
  }
  body .content-wrapper .header .nav {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding: 13px;
    padding-left: 0px;
    background-color: black;
  }
  body .content-wrapper .header .nav .menu-icon {
    background-image: url("../images/menu-icon.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 40px;
    width: 40px;
    margin-right: 13px;
    cursor: pointer;
  }
  body .content-wrapper .header .nav .links-wrapper {
    background-color: black;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 100%;
    margin-left: 0px;
    position: fixed;
    width: 50%;
    font-size: 0.8rem;
    margin-top: 50px;
    display: none;
  }
  body .content-wrapper .header .nav .links-wrapper.visible {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  body .content-wrapper .header .nav .links-wrapper .link {
    line-height: 25px;
    margin-left: 5px;
    margin-bottom: 20px;
  }
  body .content-wrapper .middle-content {
    padding: 0;
    margin: 0;
  }
  body .content-wrapper .middle-content .middle-content-wrapper {
    width: 227px;
    height: 100px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-left: 13px;
  }
  body .content-wrapper .middle-content .middle-content-wrapper .courflix-title {
    display: none;
  }
  body .content-wrapper .middle-content .middle-content-wrapper .title-wrapper {
    line-height: 0px;
    margin-bottom: 0px;
  }
  body .content-wrapper .middle-content .middle-content-wrapper .title-wrapper .content-title {
    font-size: 1rem;
    letter-spacing: 2px;
    margin-bottom: 30px;
  }
  body .content-wrapper .middle-content .middle-content-wrapper .title-wrapper .title-info {
    font-size: 0.7rem;
    display: block;
  }
  body .content-wrapper .middle-content .middle-content-wrapper .links-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 30px;
  }
  body .content-wrapper .middle-content .middle-content-wrapper .links-container .button {
    padding: 7px 15px;
    font-size: 0.7rem;
    border-radius: 3px;
  }
  body .content-wrapper .middle-content .middle-content-wrapper .links-container .button:first-child {
    background-color: #ed0a1d;
  }
  body .content-wrapper .middle-content .middle-content-wrapper .description-wrapper .watch {
    display: none;
  }
  body .content-wrapper .middle-content .middle-content-wrapper .description-wrapper .description {
    display: none;
  }
  body .content-wrapper .wrap-content {
    margin: 0 13px;
  }
  body .content-wrapper .wrap-content .series-wrapper .wrap-title {
    font-size: 0.8rem;
    margin-top: 15px;
  }
}
/*# sourceMappingURL=styles.css.map */