@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

body {
    margin: 0px;
    padding: 0px;
    background-color: black;
    .content-wrapper {
        font-family: "Open Sans", sans-serif;
        background-image: url("../images/Serie-img.png");
        min-width: 100%;
        max-height: 843px;
        background-repeat: no-repeat;
        background-position: right;
        background-size: cover;

        .header {
            .nav {
                display: flex;
                background-color: rgba(0, 0, 0, 0.801218);
                align-items: center;
                position: fixed;
                width: 100vw;
                padding: 13px;
                padding-left: 70px;

                .menu-icon {
                    display: hidden;
                }
                .logo {
                    background-image: url("../images/Logo.png");
                    min-width: 148.69px;
                    min-height: 40px;
                    background-position: center;
                    background-size: cover;
                }
                .links-wrapper {
                    font-family: "Open Sans", sans-serif;
                    font-size: 0.9rem;
                    max-width: 100%;
                    margin-left: 50px;

                    .link {
                        text-decoration: none;
                        color: #ffffff;
                        margin-left: 20px;
                        font-weight: bold;
                    }
                }
            }
        }
        .middle-content {
            .middle-content-wrapper {
                color: white;
                text-shadow: 0px 0px 0px rgba(0, 0, 0, 1);
                max-width: 530px;
                padding-left: 70px;
                padding-top: 150px;

                .courflix-title {
                    font-size: 0.9rem;
                    font-weight: bold;
                }

                .title-wrapper {
                    display: flex;
                    flex-direction: column;
                    line-height: 80px;
                    margin-bottom: 10px;
                    .content-title {
                        font-size: 4.5rem;
                        font-weight: bolder;
                        letter-spacing: 5px;
                    }

                    .title-info {
                        display: none;
                    }
                }
                .links-container {
                    display: flex;
                    .button {
                        text-decoration: none;
                        color: white;
                        background: rgba(157, 151, 151, 0.541521);
                        border-radius: 9px;
                        padding: 14px 40px;
                        font-size: 0.8rem;

                        &:nth-child(2) {
                            margin-left: 10px;
                        }

                        &:hover {
                            transition: 1s;
                            background-color: rgba(112, 110, 110, 0.692);
                        }
                    }
                }
                .description-wrapper {
                    margin-top: 10px;
                    .watch {
                        text-decoration: none;
                        color: white;
                    }
                    .description {
                        font-weight: lighter;
                        font-size: 0.9rem;
                    }
                }
            }
        }
    }

    .wrap-content {
        max-width: 100%;
        margin: 0 70px;

        .series-wrapper {
            display: flex;
            flex-direction: column;
            .wrap-title {
                text-decoration: none;
                color: white;
                margin-top: 15px;
                margin: 5px;
            }
            .movies-links {
                display: flex;
                // overflow-x: auto;
                min-width: 100%;
                text-decoration: none;

                // &::-webkit-scrollbar {
                //     width: 5px;
                //     height: 8px;
                // }
                // &::-webkit-scrollbar-thumb {
                //     background: rgba(128, 128, 128, 0.171);
                // }

                // &::-webkit-scrollbar-track {
                //     background: rgb(0, 0, 0);
                // }
                .movies {
                    background-image: url("../images/series/series-1.png");
                    background-position: center;
                    background-size: cover;
                    background-repeat: no-repeat;
                    min-width: 341px;
                    min-height: 192px;
                    margin-right: 16px;

                    &:nth-child(2) {
                        background-image: url("../images/series/series-2.png");
                        background-position: center;
                        background-size: cover;
                        background-repeat: no-repeat;
                        min-width: 341px;
                        min-height: 192px;
                        margin-right: 16px;
                    }

                    &:nth-child(3) {
                        background-image: url("../images/breaking-bad-image.jpg");
                        background-position: center;
                        background-size: cover;
                        background-repeat: no-repeat;
                        min-width: 341px;
                        min-height: 192px;
                        margin-right: 16px;
                    }

                    &:nth-child(4) {
                        background-image: url("../images/series/series-4.png");
                        background-position: center;
                        background-size: cover;
                        background-repeat: no-repeat;
                        min-width: 341px;
                        min-height: 192px;
                        margin-right: 16px;
                    }

                    &:nth-child(5) {
                        background-image: url("../images/series/series-5.png");
                        background-position: center;
                        background-size: cover;
                        background-repeat: no-repeat;
                        min-width: 341px;
                        min-height: 192px;
                        margin-right: 16px;
                    }

                    &:nth-child(6) {
                        background-image: url("../images/series/series-6.png");
                        background-position: center;
                        background-size: cover;
                        background-repeat: no-repeat;
                        min-width: 341px;
                        min-height: 192px;
                        margin-right: 16px;
                    }

                    &:nth-child(7) {
                        background-image: url("../images/series/series-7.png");
                        background-position: center;
                        background-size: cover;
                        background-repeat: no-repeat;
                        min-width: 341px;
                        min-height: 192px;
                        margin-right: 16px;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 500px) {
    body {
        .content-wrapper {
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            width: 227px; //Esto es lo que mide la foto.
            height: 344px;
            background-blend-mode: multiply;
            background-color: rgba(0, 0, 0, 0.274);

            .header {
                .nav {
                    align-items: flex-start;
                    padding: 13px;
                    padding-left: 0px;
                    background-color: black;
                    .menu-icon {
                        background-image: url("../images/menu-icon.png");
                        background-repeat: no-repeat;
                        background-position: center;
                        background-size: cover;
                        height: 40px;
                        width: 40px;
                        margin-right: 13px;
                        cursor: pointer;
                    }

                    .links-wrapper {
                        background-color: black;
                        display: flex;
                        flex-direction: column;
                        height: 100%;
                        margin-left: 0px;
                        position: fixed;
                        width: 50%;
                        font-size: 0.8rem;
                        margin-top: 50px;
                        display: none;

                        &.visible {
                            display: flex;
                        }

                        .link {
                            line-height: 25px;
                            margin-left: 5px;
                            margin-bottom: 20px;
                        }
                    }
                }
            }

            .middle-content {
                padding: 0;
                margin: 0;
                .middle-content-wrapper {
                    width: 227px;
                    height: 100px;
                    display: flex;
                    flex-direction: column;
                    padding-left: 13px;
                    
                    .courflix-title {
                        display: none;
                    }

                    .title-wrapper {
                        line-height: 0px;
                        margin-bottom: 0px;

                        .content-title {
                            font-size: 1rem;
                            letter-spacing: 2px;
                            margin-bottom: 30px;
                        }

                        .title-info {
                            font-size: 0.7rem;
                            display: block;
                        }
                    }

                    .links-container {
                        display: flex;
                        margin-top: 30px;
                        .button {
                            padding: 7px 15px;
                            font-size: 0.7rem;
                            border-radius: 3px;

                            &:first-child {
                                background-color: #ed0a1d;
                            }
                        }
                    }

                    .description-wrapper {
                        .watch {
                            display: none;
                        }
                        .description {
                            display: none;
                        }
                    }
                }
            }
            .wrap-content {
                margin: 0 13px;

                .series-wrapper {
                    .wrap-title {
                        font-size: 0.8rem;
                        margin-top: 15px;
                    }
                }
            }
        }
    }
}
